<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/errorAnimeStyles.css">
    <title>Error 404</title>
</head>

<body>

    <div class="container">

        <div class="layer1">

            <div class="errorHeading"><h1>Error 404</h1></div>
            <div class="errorMesage">
                <p class="firstPara"> Gomen! There was an issue while requesting for your content. </p>
                <form action="animeSearch" class="form">
                    <p class="secondPara"> Sorry, for the Inconvinience. Please try generating again.</p>
                    <div class="buttonDiv"><button class="genButton"> Generate Anime</button></div>
                    
                </form>
            </div>


        </div>
        
        <div class="layer2">
            <div class="errorImage"><img class="animeGirl" src="sorryAnimeGirlPNG.png"></div>
        </div>
        
    </div>


    

    
</body>



</html>